  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
    display: flex;
    justify-content: center;
  }
  .section-step1 {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .p-1{
    font-size: 28px;
    font-family: "Pinyon Script", cursive;
    margin-bottom: 0;
  }
  .p-2{
    font-family: "Pinyon Script", cursive;
    margin-top: 10px;
  }
  button{
    background: none;
    outline-style: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
    width: 6rem;
  }
  button:hover{
    background-color: antiquewhite;
  }
  button:active{
    background-color: rgb(255, 210, 210);
  }